
/00_Python/Python_myNotes_docs/wb_others/Python_Lessons_myNotes_DS247_Feb2024/my_module/py_module_01/__pycache__
/00_Python/Python_myNotes_docs/wb_others/Python_Lessons_myNotes_DS247_Feb2024/Py_Lessons/__pycache__
*.py
